*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

@font-face {
	font-family: 'Fraunces';
	src: url(./fonts/Fraunces-VariableFont_SOFT\WONK\opsz\wght.ttf)
		format('truetype');
}

@font-face {
	font-family: 'Manrope';
	src: url(./fonts/Manrope-VariableFont_wght.ttf) format('truetype');
}

:root {
	--green: #44ffa1;
	--purple-900: #24053e;
	--purple-500: #584d62;
	--purple-100: #fcf8ff;
	--white: #fff;
}

.text-preset-1 {
	font-size: 5rem;
	line-height: 100%;
	font-weight: 600;
	font-family: 'Fraunces';
}

.text-preset-2 {
	font-size: 3.5rem;
	line-height: 120%;
	font-family: 'Fraunces';
	font-weight: 600;
}

.text-preset-3 {
	font-size: 32px;
	line-height: 120%;
	font-family: 'Fraunces';
	font-weight: 600;
}

.text-preset-4 {
	font-family: 'Manrope';
	line-height: 180%;
	font-size: 18px;
}

.text-preset-5 {
	font-family: 'Manrope';
	line-height: 150%;
	font-size: 18px;
	font-weight: bold;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
}

.data {
	background-image: url('./images/bg-pattern-1.svg'),
		url('./images/bg-pattern-2.svg'),
		radial-gradient(
			100% 80% at top,
			var(--purple-900) 98%,
			var(--purple-100) 98%
		);
	background-repeat: no-repeat, no-repeat;
	background-position: center left -10%, center right -2.5%;
	width: 100%;
	background-color: var(--purple-100);
	color: white;
}

.data__nav {
	display: flex;
	justify-content: space-between;
	padding: 56px 80px 0px;
}

.data__center {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	padding: 56px 80px;
}

.data__a {
	text-decoration: underline;
	text-decoration-color: var(--green);
	text-decoration-thickness: 3px;
	text-underline-offset: 6px;
	color: white;
}

.data__h1 {
	text-align: center;
	margin: 0 25% 40px;
}

.data__underline {
	text-decoration: underline;
	text-decoration-color: var(--green);
	text-decoration-thickness: 3px;
	text-underline-offset: 6px;
}

.btn {
	color: var(--purple-900);
	background-color: var(--green);
	border: none;
	padding: 8px 32px;
}

.data__btn {
	margin-bottom: 88px;
}

.data__cel {
	width: 60%;
	object-fit: contain;
}

.feature {
	display: flex;
	justify-content: space-evenly;
	padding: 88px 100px;
	background-color: var(--purple-100);
	background-image: radial-gradient(
		100% 80% at top,
		var(--purple-100) 98%,
		var(--white) 98%
	);
}

.feature__div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 24px;
}

.feature__number {
	margin-bottom: 56px;
	font-weight: 600;
	font-size: 24px;
	line-height: 40px;
	border: 1px solid var(--purple-900);
	border-radius: 50%;
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--purple-900);
	font-family: 'Fraunces';
}

.feature__title {
	margin-bottom: 28px;
	color: var(--purple-900);
}

.feature__p {
	margin-bottom: 256px;
	color: var(--purple-900);
}

.founder {
	padding: 112px 160px 0px;
	position: relative;
	height: 691px;
}

.founder__img {
	height: 477px;
	position: absolute;
	top: 112px;
	left: 160px;
}

.founder__div {
	position: absolute;
	height: 411px;
	width: 730px;
	background-color: var(--purple-900);
	bottom: 0;
	right: 160px;
	padding: 64px;
	color: white;
}

.founder__title {
	margin-bottom: 32px;
}

.founder__p {
	margin-bottom: 32px;
}

.founder__bg {
	position: absolute;
	right: 120px;
	bottom: -70px;
}

.icons {
	height: 324px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons__div {
}

.icons__logo {
	width: 95px;
	height: 25px;
	margin-bottom: 56px;
}

.icons__icons {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.data {
		background-position: center left -50%, center right -14%;
	}
	.data__h1 {
		margin: 0px 5% 40px;
	}
	.data__cel {
		width: 90%;
	}
	.feature {
		flex-direction: column;
		padding: 0;
	}
	.feature__div {
		flex-direction: row;
		justify-content: center;
	}
	.feature__number {
		margin: 0;
		margin-right: 32px;
	}
	.feature__divletterandp {
		text-align: start;
	}
	.feature__p {
		margin-bottom: auto;
	}
	.founder {
		padding: 112px 44px 0px;
	}
	.founder__img {
		height: 280px;
		width: 280px;
		left: 40px;
	}
	.founder__div {
		width: 504px;
		height: 390px;
		padding: 40px;
		right: 40px;
	}
	.founder__bg {
		right: 10px;
		bottom: -110px;
	}
	.icons {
		height: 260px;
	}
}

@media (min-width: 1700px) {
	html {
		font-size: 20px;
	}
}
