*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.body {
	height: 100vh;
	background-color: #ecf2f8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: 280px;
	width: 730px;
	display: flex;
	box-shadow: 0 40px 40px -10px #c9d5e150;
	font-family: 'Manrope';
}

.principal__image {
	object-fit: cover;
	width: 285px;
}

.content-container {
	background-color: white;
	padding: 32px 40px;
	color: #48556a;
}

.content__title {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.25px;
	line-height: 28px;
	margin-bottom: 12px;
}

.content__p {
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.12px;
	color: #6e8098;
	margin-bottom: 20px;
}

.user {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
}

.user__picture {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 16px;
}

.user__info {
	margin-right: auto;
}

.user__name {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.12px;
	font-weight: bold;
}

.user__date {
	font-size: 13px;
	letter-spacing: 0.12px;
	line-height: 20px;
	font-weight: 500;
	color: #9daec2;
}

.user__icon {
	height: 32px;
	width: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ecf2f8;
	border-radius: 50%;
}

.active .user__icon {
	background-color: #6e8098;
}

.active .user__flecha {
	fill: white;
}

.active .user__modal {
	opacity: 1;
}

.user__modal {
	display: flex;
	width: 248px;
	position: absolute;
	right: -105px;
	background-color: #48556a;
	color: white;
	top: -75px;
	height: 50px;
	padding: 16px 36px;
	border-radius: 10px;
	justify-content: space-between;
	opacity: 0;
}

.modal__span {
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 20px;
	font-weight: 500;
	color: #9daec2;
	font-size: 13px;
}

.triangulo {
	position: absolute;
	height: 12px;
	width: 24px;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #48556a;
}

.attribution {
	position: absolute;
	bottom: 0.5rem;
	font-size: 16px;
	text-align: center;
	font-family: 'Manrope', sans-serif;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
