.u-mt-1r {
	margin-top: 1rem;
}

.u-mb--5r {
	margin-bottom: 0.5rem;
}

.u-mr--5r {
	margin-right: 0.5rem;
}

.u-mr-1r {
	margin-right: 1rem;
}

.u-mb-1r {
	margin-bottom: 1rem;
}

.u-mb-1-5r {
	margin-bottom: 1.5rem;
}

.u-mb-2r {
	margin-bottom: 2rem;
}

.u-mb-2-5r {
	margin-bottom: 2.5rem;
}
